In [ ]:
import sqlite3
con = sqlite3.connect('../data/sejong.db')
cur = con.cursor()

#cur.execute('''insert into person valuse (1, "조영훈", "1982-01-25")''')
# SQL 문의 키워드는 대문자와 소문자를 가리지 않으며

In [ ]:
query = '''create table "person" (
    "id" integer not null,
    "name" text not null,
    "birthday" text,
    primary key("id" autoincrement))'''
query = '''create table if not exists person(
    id integer primary key autoincrement,
    name text not null,
    birthday text)'''
cur.execute(query)

In [ ]:
query = 'drop table if exists person'
cur.execute(query)

In [ ]:
query = 'insert into person values (1, "cho", "1982-01-25")'

In [ ]:
query = 'insert into person values (1, "cho", "1982-01-25")'
cur.execute(query)
con.commit()

In [ ]:
con.commit()

In [ ]:
cur.execute('delete from person') # 전체 삭제
con.commit()

In [ ]:
##cur.execute('select * from person')
##row = cur.fetchall() # 쿼리 결과를 튜플 리스트로 반환한다
row = cur.execute('select * from person').fetchall()
for i in row : 
    print(i)

In [ ]:
cur.execute('insert into person (name, birthday) values ("박소진", "1986-05-21"), ("김아영", "1992-11-06")')
con.commit()

In [ ]:
cur.execute('insert into person (name) values ("민아")')
con.commit()

In [ ]:
for i in cur.execute('select name from person').fetchall() : print(i)

In [ ]:
cur.execute('update person set name = "김아영", birthday = "1998-05-24" where id = 4')
con.commit()

In [ ]:
con.close()

In [ ]:
''' 과목선정??? 시간표변경?? 과제??? '''