In [6]:
a = '3'
b = '2.1'
int(a) * b

'2.12.12.1'

In [37]:
print('12\b1')

11

In [34]:
from collections  import deque
deque_list = deque([1,2,3])
deque_list.appendleft('c')
print(deque_list)

deque(['c', 1, 2, 3])

In [35]:
from collections import Counter
Counter('12345')

Counter({'1': 1, '2': 1, '3': 1, '4': 1, '5': 1})

In [36]:
'This Is'.lower()

'this is'

In [25]:
'0-1-1-1-1'[::2]

'01111'

In [23]:
float('5 - 2 - 10 - 10'.split('-')[-1])

10.0

In [21]:
i = [[1,2],[3],[4,5,6]]
print(i.remove([3]))

None

In [18]:
def c(*a):
    count = len(a)
    print(count)
c([1,2,3])

1

In [17]:
i = [[1,2],[3],[4,5,6]]
a,b,c = i
j = a + b + c
j

[1, 2, 3, 4, 5, 6]

In [16]:
4 == '4'

False

In [15]:
for a in range(8):
    a *= (a-1)
print(a)

42

In [14]:
int('ABC')

ValueError: invalid literal for int() with base 10: 'ABC'

In [13]:
a = [3,2,1,4]
b = a.sort()
print(a, b)

[1, 2, 3, 4] None

In [12]:
f = [1,2,3,4,5]
s = [1,2,3,4,5]
t = [1,2,3,4,5]
o = [f, s, t]
j =[o[0][:-2], s[1::3], t[0]]
j

[[1, 2, 3], [2, 5], 1]

In [10]:
f = ['apple','banana', 'cherry', 'grape', 'orange', 'strawberry', 'melon']
print(f[-3:], f[1::3])

['orange', 'strawberry', 'melon'] ['banana', 'orange']

In [9]:
a =[1]
b = [1,2,3]
b[1]= a[0:1]
b

[1, [1], 3]

In [ ]:
a = 1 
a = '2'
#타입을 미리선언하지 않음

In [7]:
5+4*3-2/2

16.0