In [ ]:
import tensorflow as tf
import numpy as np

In [3]:
import pandas as pd

In [26]:
import sympy as sp # pip install -U  sympy

In [29]:
a, x, b, y = sp.symbols('a x b y')
y = (a*x+b) ** 2
sp.diff(y, a) # 미분
y
sp.expand(y) # 전개

a**2*x**2 + 2*a*b*x + b**2

In [ ]:
# "C:\수업자료PC\머신러닝\머신러닝딥러닝기초\data\ThoraricSurgery3.csv"

In [ ]:
tf.__version__

In [4]:
head = ''
data = pd.read_csv(r"C:\수업자료PC\머신러닝\머신러닝딥러닝기초\data\ThoraricSurgery3.csv", header=None)
data.head() # 470 * 17
# 17번 컬럼이 y 값
# 답이 있으면 지도 학습
# 분류 문제

   0     1     2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0   1  2.88  2.16   1   0   0   0   1   1   3   0   0   0   1   0  60   0
1   2  3.40  1.88   0   0   0   0   0   0   1   0   0   0   1   0  51   0
2   2  2.76  2.08   1   0   0   0   1   0   0   0   0   0   1   0  59   0
3   2  3.68  3.04   0   0   0   0   0   0   0   0   0   0   0   0  54   0
4   2  2.44  0.96   2   0   1   0   1   1   0   0   0   0   1   0  73   1

In [22]:
# 딥러닝 체험
# keras 운전수? 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
model = Sequential()
print(data.head(2))
print(data.iloc[:, :16])
# print(data[16].values) # y
print(data[16])

   0     1     2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0   1  2.88  2.16   1   0   0   0   1   1   3   0   0   0   1   0  60   0
1   2  3.40  1.88   0   0   0   0   0   0   1   0   0   0   1   0  51   0
     0     1     2   3   4   5   6   7   8   9   10  11  12  13  14  15
0     1  2.88  2.16   1   0   0   0   1   1   3   0   0   0   1   0  60
1     2  3.40  1.88   0   0   0   0   0   0   1   0   0   0   1   0  51
2     2  2.76  2.08   1   0   0   0   1   0   0   0   0   0   1   0  59
3     2  3.68  3.04   0   0   0   0   0   0   0   0   0   0   0   0  54
4     2  2.44  0.96   2   0   1   0   1   1   0   0   0   0   1   0  73
..   ..   ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
465   1  3.88  2.12   1   0   0   0   1   0   2   0   0   0   1   0  63
466   2  3.76  3.12   0   0   0   0   0   0   0   0   0   0   1   0  61
467   2  3.04  2.08   1   0   0   0   1   0   2   0   0   0   0   0  52
468   2  1.96  1.68   1   0   0   0   1   1   1   0   0   0   1   0  79
469   2  4.72  3.56   0   0   0   0   0   0   1   0   0   0   1   0  51

[470 rows x 16 columns]
0      0
1      0
2      0
3      0
4      1
      ..
465    0
466    0
467    0
468    0
469    0
Name: 16, Length: 470, dtype: int64
Epoch 1/5
15/15 [==============================] - 0s 1ms/step - loss: 5.5729 - accuracy: 0.1745
Epoch 2/5
15/15 [==============================] - 0s 857us/step - loss: 0.8012 - accuracy: 0.6383
Epoch 3/5
15/15 [==============================] - 0s 857us/step - loss: 0.6815 - accuracy: 0.8511
Epoch 4/5
15/15 [==============================] - 0s 786us/step - loss: 0.5484 - accuracy: 0.8511
Epoch 5/5
15/15 [==============================] - 0s 786us/step - loss: 0.4772 - accuracy: 0.8511

In [23]:
model.add(Dense(30, input_dim=16, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(data.iloc[:, :16], data[16], epochs=5, batch_size=32)

Epoch 1/5
15/15 [==============================] - 0s 1ms/step - loss: 0.6811 - accuracy: 0.7979
Epoch 2/5
15/15 [==============================] - 0s 857us/step - loss: 0.6202 - accuracy: 0.8511
Epoch 3/5
15/15 [==============================] - 0s 1ms/step - loss: 0.5648 - accuracy: 0.8511
Epoch 4/5
15/15 [==============================] - 0s 1ms/step - loss: 0.5210 - accuracy: 0.8511
Epoch 5/5
15/15 [==============================] - 0s 857us/step - loss: 0.4904 - accuracy: 0.8511