In [2]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# 베이스 클래스 생성
Base = declarative_base()

# 모델 정의
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)
    age = Column(Integer)
    
    def __repr__(self):
        return f"<User(name='{self.name}', age='{self.age}')>"

# SQLite 데이터베이스 연결 설정
engine = create_engine('sqlite:///../database/example.db', echo=True)

# 데이터베이스에 테이블 생성
Base.metadata.create_all(engine)

# 세션 생성기 정의
Session = sessionmaker(bind=engine)
session = Session()

# 새로운 사용자 추가
new_user = User(name='Alice', age=25)
session.add(new_user)

# 변경 사항 커밋
session.commit()

# 모든 사용자 조회
users = session.query(User).all()
for user in users:
    print(user)

# 특정 사용자 조회
user = session.query(User).filter_by(name='Alice').first()
print(user)

# 사용자 정보 업데이트
user.age = 26
session.commit()

# 사용자 삭제
session.delete(user)
session.commit()

# 세션 종료
session.close()

2024-08-26 14:36:05,670 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-26 14:36:05,670 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-08-26 14:36:05,671 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-26 14:36:05,671 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2024-08-26 14:36:05,672 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-26 14:36:05,673 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	age INTEGER,
	PRIMARY KEY (id)
)


2024-08-26 14:36:05,673 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2024-08-26 14:36:05,681 INFO sqlalchemy.engine.Engine COMMIT
2024-08-26 14:36:05,682 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-26 14:36:05,684 INFO sqlalchemy.engine.Engine INSERT INTO users (name, age) VALUES (?, ?)
2024-08-26 14:36:05,684 INFO sqlalchemy.engine.Engine [generated in 0.00075s] ('Alice', 25)
2024-08-26 14:36:05,686 INFO sqlalchemy.engine.Engine COMMIT
2024-08-26 14:36:05,692 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-26 14:36:05,694 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users
2024-08-26 14:36:05,694 INFO sqlalchemy.engine.Engine [generated in 0.00050s] ()
<User(name='Alice', age='25')>
2024-08-26 14:36:05,697 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2024-08-26 14:36:05,697 INFO sqlalchemy.engine.Engine [generated in 0.00080s] ('Alice', 1, 0)
<User(name='Alice', age='25')>
2024-08-26 14:36:05,701 INFO sqlalchemy.engine.Engine UPDATE users SET age=? WHERE users.id = ?
2024-08-26 14:36:05,701 INFO sqlalchemy.engine.Engine [generated in 0.00072s] (26, 1)
2024-08-26 14:36:05,702 INFO sqlalchemy.engine.Engine COMMIT
2024-08-26 14:36:05,708 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-26 14:36:05,709 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users
WHERE users.id = ?
2024-08-26 14:36:05,710 INFO sqlalchemy.engine.Engine [generated in 0.00065s] (1,)
2024-08-26 14:36:05,711 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?
2024-08-26 14:36:05,713 INFO sqlalchemy.engine.Engine [generated in 0.00045s] (1,)
2024-08-26 14:36:05,715 INFO sqlalchemy.engine.Engine COMMIT

c:\Users\hungh\AppData\Local\Programs\Python\Python37\py3_7_9_tfgpu\lib\site-packages\ipykernel_launcher.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)

In [2]:
import sixtick.python.easy as s
# from sixtick.python import easy as s
s.get

sixtick
	pytyon
		easy.py
easy.py loaded

In [1]:
%pwd

'c:\\source\\exercise\\fastapi\\pybo\\exercise'

In [1]:
import sys
sys.path

['c:\\source\\exercise\\fastapi\\pybo\\exercise',
 'c:\\source\\exercise\\fastapi\\pybo\\exercise',
 'C:\\source',
 'C:\\source\\sixtick',
 'C:\\source\\sixtick\\python',
 'C:\\source\\sixtick\\python\\easy',
 'C:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\python37.zip',
 'C:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\DLLs',
 'C:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\lib',
 'C:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37',
 'c:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\py3_7_9_tfgpu',
 '',
 'c:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\py3_7_9_tfgpu\\lib\\site-packages',
 'c:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\py3_7_9_tfgpu\\lib\\site-packages\\win32',
 'c:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\py3_7_9_tfgpu\\lib\\site-packages\\win32\\lib',
 'c:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\py3_7_9_tfgpu\\lib\\site-packages\\Pythonwin',
 'c:\\Users\\hungh\\AppData\\Local\\Programs\\Python\\Python37\\py3_7_9_tfgpu\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\hungh\\.ipython']